# vim:set noet:

[github]
	user = tyru
	# My github token here!
[core]
	excludesfile = ~/.gitignore.base
	editor = vim -u NONE -N -c 'syntax on'
[user]
	name = tyru
	email = tyru.exe@gmail.com
[alias]
	# short name (+ some options)
	ar = archive
	br = branch
	co = checkout
	cp = cherry-pick
	ls = ls-files
	re = reset
	s = show
	sa = stash apply
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	st = status
	sub = submodule
	subfor = submodule foreach
	subinit = submodule update --init
	subadd = submodule add
	wh = whatchanged
	zip = archive --format=zip
	cont = rebase --continue
	reha = reset --hard
	dish = diff --color-words -M --cached
	rmsh = rm --cached
	ci = commit -v
	cia = commit -v --all
	ciam = commit -v --amend
	fixup = commit --amend -C HEAD
	gene = log --graph --pretty='%C(yellow)%h%Creset %ai %an: %s%C(yellow)%d%Creset' --all
	view = log --pretty=oneline --abbrev-commit --graph --source --tags --branches
	last = log --stat -p --reverse HEAD@{1}..
	lp = log --stat -p
	short = rev-parse --short

	my-diff = diff --color-words -M
	my-log = log --stat
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[rerere]
	enabled = true
[interactive]
	singlekey = true
[help]
	autocorrect = -1
