# vim:noet:

[include]
	path = .gitconfig.secret
[github]
	user = tyru
[core]
	excludesfile = ~/.gitignore.base
	editor = vim
[user]
	name = tyru
	email = tyru.exe@gmail.com
[alias]
	ar = archive
	br = branch
	ci = commit -v
	cia = commit -v --all
	ciam = commit -v --amend
	co = checkout
	cont = rebase --continue
	cp = cherry-pick
	di = diff --color-words -M
	dish = diff --cached -M
	fixup = commit --amend -C HEAD
	gene = log --graph --pretty='%C(yellow)%h%Creset %ai %an: %s%C(yellow)%d%Creset' --all
	l = log --stat
	last = log -p --reverse HEAD@{1}..
	lp = log -p
	ls = ls-files
	re = reset
	reha = reset --hard
	remote = remote -v
	rmsh = rm --cached
	s = show
	sa = stash apply
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	st = !"git status; git stash list"
	sub = submodule
	subadd = submodule add
	subfor = submodule foreach
	subup = submodule foreach "git pull"
	view = log --pretty=oneline --abbrev-commit --graph --source --tags --branches
	wh = whatchanged
	zip = archive --format=zip
	shortrev = rev-parse --short
	# https://gist.github.com/gnarf/5406589
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
