# Vim
dotfiles/.vim/.vimbackup_deleted

# Emacs
*.elc
dotfiles/.emacs.d/info/

dotfiles/.vim/*
!dotfiles/.vim/after
!dotfiles/.vim/autoload
!dotfiles/.vim/colors
!dotfiles/.vim/compiler
!dotfiles/.vim/doc
!dotfiles/.vim/ftdetect
!dotfiles/.vim/ftplugin
!dotfiles/.vim/indent
!dotfiles/.vim/keymap
!dotfiles/.vim/lang
!dotfiles/.vim/macros
!dotfiles/.vim/plugin
!dotfiles/.vim/spell
!dotfiles/.vim/syntax
!dotfiles/.vim/tutor
!dotfiles/.vim/tools

!dotfiles/.vim/bundle
dotfiles/.vim/bundle/*
# Do not ignore these directories
!dotfiles/.vim/bundle/vivo.vim
!dotfiles/.vim/bundle/ref-plugins
!dotfiles/.vim/bundle/surround-config

# Ignore only 'pack' directory
!dotfiles/.vim/vivo
dotfiles/.vim/vivo/pack

!dotfiles/.vim/dict
!dotfiles/.vim/template

dotfiles/.vim/.VimballRecord

# Vimperator
dotfiles/.vimperator/*/
!dotfiles/.vimperator/plugin
!dotfiles/.vimperator/colors

!dotfiles/.vimperator/vimpr
!dotfiles/.vimperator/vimperator-plugin-httpdjs
