# Vim
dotfiles/.vim/.vimbackup_deleted

# Emacs
*.elc
dotfiles/.emacs.d/info/

dotfiles/.vim/pack
dotfiles/.vim/vimrc
dotfiles/.vim/.netrwhist
dotfiles/.vim/info/

!dotfiles/.vim/dict
!dotfiles/.vim/template

dotfiles/.vim/.VimballRecord

# volt
dotfiles/volt/bin/
dotfiles/volt/repos/*
!dotfiles/volt/repos/localhost
dotfiles/volt/tmp/

# Vimperator
dotfiles/.vimperator/*/
!dotfiles/.vimperator/plugin
!dotfiles/.vimperator/colors

!dotfiles/.vimperator/vimpr
!dotfiles/.vimperator/vimperator-plugin-httpdjs
