[user]
	name = tyru
	email = tyru.exe@gmail.com
[github]
	user = tyru
[core]
	excludesfile = ~/.gitignore.base
	editor = vim
	autocrlf = false
[alias]
	br = branch
	co = checkout
	cont = rebase --continue
	cp = cherry-pick
	dish = diff --cached -M
	amend = commit --amend -C HEAD
	amend-edit = commit -v --amend
	gene = log --graph --pretty='%C(yellow)%h%Creset %ai %an: %s%C(yellow)%d%Creset' --all
	view = log --pretty=oneline --abbrev-commit --graph --source --tags --branches
	last = log -p --reverse HEAD@{1}..
	todo = grep -n -E "\b(TODO|XXX|FIXME)\b"
	wh = whatchanged
	# https://gist.github.com/gnarf/5406589
	pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	git = !git
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.secret
[url "git@github.com:tyru/"]
	insteadOf = https://github.com/tyru/
