[user]
	name = tyru
	email = tyru.exe@gmail.com
[github]
	user = tyru
[core]
	excludesfile = ~/.gitignore.base
	editor = vim
	autocrlf = false
[alias]
	amend = commit --amend -C HEAD
	amend-edit = commit -v --amend
	br = branch
	co = checkout
	cont = rebase --continue
	cp = cherry-pick
	dish = diff --cached -M
	fixup = commit --fixup
	git = !git
	last = log -p --reverse HEAD@{1}..
	ls = ls-files
	todo = grep -n -E "\b(TODO|XXX|FIXME)\b"
	view = log --pretty=oneline --abbrev-commit --graph --source --tags --branches
	wh = whatchanged
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetuprebase = always
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.secret
[url "git@github.com:tyru/"]
	insteadOf = https://github.com/tyru/
[pull]
	rebase = true
[advice]
	detachedHead = false
[pager]
	ls-files = true
[grep]
	lineNumber = true
	patternType = extended
[diff]
	noprefix = true
	renames = true
