[user]
	name = tyru
	email = tyru.exe@gmail.com
[github]
	user = tyru
[core]
	# https://www.clear-code.com/blog/2017/6/27.html
	pager = less --RAW-CONTROL-CHARS --quit-if-one-screen
	excludesfile = ~/.gitignore.base
	editor = vim
	autocrlf = false
[alias]
	amend = commit --amend -C HEAD
	amend-edit = commit -v --amend --allow-empty
	br = branch
	ci = commit -v
	cia = commit -av
	co = checkout
	cont = rebase --continue
	cp = cherry-pick
	dish = diff --cached -M
	fixup = commit --fixup
	git = !git
	last = log -p --reverse HEAD@{1}..
	ls = ls-files
	# sw = !"git checkout $(git branch | grep -E '^\*' | peco)"
	todo = grep -w -n -E "(TODO|XXX|FIXME)"
	view = log --pretty=oneline --abbrev-commit --graph --source --tags --branches
	wh = whatchanged
	# br-delete-merged = !"git branch -d $(git branch --merged | grep -E -v '^\*')"
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetuprebase = always
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.secret
[url "git@github.com:tyru/"]
	insteadOf = https://github.com/tyru/
[pull]
	rebase = true
[advice]
	detachedHead = false
[pager]
	ls-files = true
[grep]
	lineNumber = true
	patternType = extended
[diff]
	noprefix = true
	renames = true
[commit]
	verbose = true
