# Vim
.vim/.vimbackup_deleted

.vim/*
!.vim/after
!.vim/autoload
!.vim/colors
!.vim/compiler
!.vim/doc
!.vim/ftdetect
!.vim/ftplugin
!.vim/indent
!.vim/keymap
!.vim/lang
!.vim/macros
!.vim/plugin
!.vim/spell
!.vim/syntax
!.vim/tutor
!.vim/tools
!.vim/bundle

!.vim/dict
!.vim/template

.vim/.VimballRecord

# Vimperator
.vimperator/*/
!.vimperator/plugin
!.vimperator/colors
